body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color:rgb(250, 248, 245);
}
.container{
    grid-template-columns: 1fr 1fr 1fr;

    display: grid;
    border: solid black;
    
    
    gap: 5px;
    

}
.item{
    display: flex;
    border: solid rgb(18, 18, 18);
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 24px;
    
    
    width: 50%;

}
.grid-a{
    background-color: rgb(12, 156, 245);
}
.grid-b{
    background-color: rgb(245, 70, 12);
}
.grid-c{
    background-color: rgb(12, 39, 245);
}
.grid-d{
    background-color: rgb(230, 245, 12);
}
.grid-e{
    background-color: rgb(136, 12, 245);
}
.grid-f{
    background-color: rgb(78, 245, 12);
}
.grid-g{
    background-color: rgb(245, 144, 12);
}
.grid-h{
    background-color: rgb(12, 245, 160);
}
.grid-i{
    background-color: rgb(245, 12, 31);
}
@media(max-width:658px){
    .grid-a{
         background-color: aqua;
    }
    
    
}
@media(max-width:658px){
    .grid-b{
         background-color: rgb(0, 81, 255);
    }
    
    
}
@media(max-width:658px){
    .grid-c{
         background-color: rgb(255, 0, 234);
    }
    
    
}
@media(max-width:658px){
    .grid-d{
         background-color: rgb(255, 0, 68);
    }
    
    
}
@media(max-width:658px){
    .grid-e{
         background-color: rgb(0, 255, 30);
    }
    
    
}
@media(max-width:658px){
    .grid-f{
         background-color: rgb(242, 255, 0);
    }
    
    
}
@media(max-width:658px){
    .grid-g{
         background-color: rgb(0, 145, 255);
    }
    
    
}
@media(max-width:658px){
    .grid-h{
         background-color: rgb(255, 0, 153);
    }
    
    
}
@media(max-width:658px){
    .grid-i{
         background-color: rgb(255, 0, 0);
    }
    
    
}